{
  "name": "${NAME}",
  "version": "${VERSION}",
  "description": "devsweep binary for ${OS} ${ARCH}.",
  "license": "MIT",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/tarcisiopgs/devsweep.git"
  },
  "files": ["bin"],
  "os": ["${OS}"],
  "cpu": ["${ARCH}"]
}
